/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-feb-2017, 12.32.12
    Author     : root
*/

@font-face {
  font-family: 'Dosis';
  src: url('../Dosis_Style/Dosis-Medium.ttf')  format('truetype');
}

#pin_name{
    padding-left: 2%;
}

body{
    padding: 0px;
    margin: 0px;
}

.left-white{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;
    text-align: center;
    font-weight: normal;
}

.left{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-color: wheat;
    text-align: center;
    font-weight: normal;
}

.left-no-background{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    font-weight: normal;   
}


.right-no-background{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    font-weight: normal;   
}

.label_pin_name{
    font-size: 200%;
    font-family: Dosis;
    margin-top: 10%;
}

.input_pin_name{
    font-size: 200%;
    font-family: Dosis;
    margin-top: 10%;
    margin-left: 2%;
    width: 50%;
    border-radius: 4px;
    border-width: 3px;
    border-color: black;
    text-align: center;
}

.right-no-border{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}

.right{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    border-left-color: black;
    border-left-style: solid;
    border-left-width: 5px;
}

.top{
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
}

.bottom{
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 5px;
}

.title{
    position: relative;
    float: left;
    font-size: 200%;
    text-align: center;
    width: 100%;
    height: 10%;
    padding-top: 1%;
    font-family: Dosis;
}

.two_columns{
    position: relative;
    float: left;
    width: 100%;
    height: 5%;
    text-align: center;
}

.two_buttons_aligned{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    text-align: center;
}

.input_class{
    font-size: 150%;
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

.two_sub_columns{
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    text-align: center;
}

.subtitle{
    padding-top: 2%; 
    font-size: 150%;
}

.subsubtitle{
    padding-top: 2%; 
    font-size: 100%;
}

#div_svg_symbol{
    position: relative;
    height: 75%;
    width: 100%;
    float: left;
}

.bottom_svg{
    position: relative;
    height: 15%;
    width: 100%;
    float: left;
    text-align: center;
}

.div_svg{
    margin-top: 5%;
    margin-left: 5%;
    height: 80%;
    width: 90%;
    position: relative;
}

input[type=radio] {
    border: 1px;
    width: 100%;
    height: 1.5em;
}

input[type=checkbox] {
    border: 1px;
    width: 100%;
    height: 1.5em;
}

#interaxis_label{
    visibility: hidden;
}

#Interaxis{
    visibility: hidden;
}

.division{
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#Window_Manage_Pins{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: #d9edf7;
    visibility: hidden;
}

#Window_Change_Pin_Settings{
    border-style: solid;
    border-width: 5px;
    border-color: black;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-color: #d9edf7;
    visibility: hidden;
}

.window_top{
    position: relative;
    float: left;
    width: 100%;
    height: 10%;
}

.container_pin_settings{
    position: relative;
    float: left;
    width: 100%;
    height: 75%;
}

.bottom_pin_settings{
    position: relative;
    float: left;
    width: 100%;
    height: 15%;
    text-align: center;
    padding-top: 2%;
}

.setting_pin_name{
    position: relative;
    float: left;
    height: 25%;
    width: 100%;
}

.window_title{
    position: relative;
    float: left;
    font-size: 200%;
    text-align: center;
    width: 80%;
    height: 100%;
    padding-top: 1%;
}

.window_title_pin_settings{
    position: relative;
    float: left;
    font-size: 200%;
    text-align: center;
    width: 40%;
    height: 100%;
    padding-top: 1%;
}

.exit_icon{
    float: left;
    position: relative;
    height: 100%;
    width: 10%;
}

.left_icon_pin_setings{
    float: left;
    position: relative;
    height: 100%;
    width: 20%;
}

.left_arrow_image{
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
    background-image: url("../image/single_down_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

.right_icon_pin_setings{
    float: left;
    position: relative;
    height: 100%;
    width: 20%;
}

.right_arrow_image{
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
    background-image: url("../image/single_up_arrow.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}


.help_icon{
    height: 100%;
    width: 10%;
    float: left;
    position: relative;
    background-image: url("../image/help_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.exit_image{
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
    background-image: url("../image/back_icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.window_container{
    position: relative;
    float: left;
    width: 100%;
    height: 80%;
    text-align: center;
    overflow: hidden;
}

.Pin_table_input{
    text-align: center;
    width: 50%;
    border-radius: 7px;
    background-color: #ffffeee;
    border: 4px solid #ccc;
    font-family: Dosis;
}

.element_ok{
    background-color: lightgreen;
    border-color: green;
}

.element_incorrect{
    background-color: lightcoral;
    border-color: red;
}

.element_selected{
    background-color: lightyellow;
    border-color: orange;
}



.column_pid_table{
    position: relative;
    float: left;
    height: 100%;
    text-align: center;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
}

.pin_table{
    float: left;
    width: 100%;
    text-align: center;
    height: 100%;
}

.pin_table td{
    text-align: center;
    width: 50%;
}

label{
    font-family: Dosis;
}