/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-dic-2015, 12.01.47
    Author     : stefano
*/

.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

html{
    height: 100%;
}

.modal-body{
    padding-top: 10px;
    padding-bottom: 10px;
    background-image:url("../image/prova_2.jpg");
    background-repeat: repeat;
}

body
{
    height: 100%;
    padding-top: 53px;
    background-image:url("../image/prova_2.jpg");
    background-repeat: repeat;
}

#principalSection{

    background-color: whitesmoke;
    width:1100px;
    margin: auto;
    height: 600px;
}

#principalSectionFinestra{

    background-color: whitesmoke;
    width:1100px;
    margin: auto;
    height: 450px;
}

#Pulsanti_Principali{
    background-color: whitesmoke;
    width:1100px;
    height: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

#Tabella_Pulsanti_Principali{
    margin-bottom: 50px;
    background: whitesmoke;
}

#Tabella_Pulsanti_Principali td {
    padding-left: 80px;
    padding-right: 80px;
}


.fullheight{
    height: 100%;
}

.fullheight_tecnico{
    height: 50%;
}

.centerVertically {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;

    display: box;
    box-orient: horizontal;
    box-pack: center;
    box-align: center;

    text-align: center;
}

@media (min-width: 768px) { 

    .vcenter{
        display: flex;
        align-items: center;
        float: none;
        text-align: center;
    } 

    .fullheightpc{
        height: 100%;
    }

}
@media (max-width: 767px){
    .vcentercollapsed{
        height: 33%;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;

        display: -moz-box;
        -moz-box-orient: horizontal;
        -moz-box-pack: center;
        -moz-box-align: center;

        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;
        
        text-align: center;
    }
}
.Bottoni_Principali {
    padding: 20% !important;
    border: 1px solid #a99c99;
    border-radius: 20%;
    background: #f1dfda;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1dfda), to(#a99c99));
    background: -moz-linear-gradient(top, #f1dfda, #a99c99);
    background: linear-gradient(to bottom, #f1dfda, #a99c99);
    text-shadow: #ffffff 1px 1px 1px;
    font: 20px bold arial !important;
    color: #111111;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    overflow: hidden;
}


.Bottoni_Principali:hover,
.Bottoni_Principali:focus {
    border: 1px solid #f1dfda;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cbbbb8));
    background: -moz-linear-gradient(top, #ffffff, #cbbbb8);
    background: linear-gradient(to bottom, #ffffff, #cbbbb8);
    color: #111111;
    text-decoration: none;
}
.Bottoni_Principali:active {
    background: #a99c99;
    background: -webkit-gradient(linear, left top, left bottom, from(#a99c99), to(#a99c99));
    background: -moz-linear-gradient(top, #a99c99, #a99c99);
    background: linear-gradient(to bottom, #a99c99, #a99c99);
}


.Bottoni_Finestra_Modale {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #a99c99;
    border-radius: 80px;
    background: #f1dfda;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1dfda), to(#a99c99));
    background: -moz-linear-gradient(top, #f1dfda, #a99c99);
    background: linear-gradient(to bottom, #f1dfda, #a99c99);
    text-shadow: #ffffff 1px 1px 1px;
    font: normal normal bold 20px arial !important;
    color: #111111;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: 140px; 
    width: 200px;
}
.Bottoni_Finestra_Modale:hover,
.Bottoni_Finestra_Modale:focus {
    border: 1px solid #f1dfda;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cbbbb8));
    background: -moz-linear-gradient(top, #ffffff, #cbbbb8);
    background: linear-gradient(to bottom, #ffffff, #cbbbb8);
    color: #111111;
    text-decoration: none;
}
.Bottoni_Finestra_Modale:active {
    background: #a99c99;
    background: -webkit-gradient(linear, left top, left bottom, from(#a99c99), to(#a99c99));
    background: -moz-linear-gradient(top, #a99c99, #a99c99);
    background: linear-gradient(to bottom, #a99c99, #a99c99);
}


#logo
{
    background-image:url("../image/logo_2.png");
    height: 100px;
    width: 1100px
}


#tableBandiere{
    margin-bottom: 10px;
    margin-top: 10px;
    vertical-align: middle;
}



#Finestra_Modale_Interfaccia_Tecnica{
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

.ui-dialog .ui-dialog-titlebar-close{
                height: 40px !important;
                width: 40px !important;
                margin-top: -20px;
}
.ui-dialog-titlebar {    
    height: 40px !important;
}
/*ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle*/


.modal-dialog {
    min-height: 80%;
    height: auto;
    width: 90%;
    min-width: 90%;
}

.modal-content{
    height: auto;
    width: auto;
    min-width: 100%;
}


.cellLabel {
    vertical-align: middle !important;
    text-align: right !important;
    padding-right: 5px;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cellInput {
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;

    padding-top: 5px;
    padding-bottom: 5px;
}

.modal_login{
    position: fixed;
    top: 25%;
}

.modal-header {
    height: auto;
    min-height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.modal-footer {
    height: auto;
    min-height: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.col-xs-12 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.rowModal {
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
}

.colModal {
    padding-left: 0px;
    padding-right: 0px;
    text-align: -webkit-center;
    text-align: center;
}

.Bottoni_Principali_Mod {
    display: inline-block;
    padding: 10% !important;
}

.centered {
    text-align: center;
}

.form-inline input {width: 50%}

.tabella_username_psswd td{
    padding-left: 20px;
    padding-right: 20px;
}

.select_test_file{
    font-size: 30px;
}